* { 
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}



/* HEADER */
.descuento {
    background-color: #1CD1B0;
    font-size: 15px;
    font-weight: 400px;
    margin: 0px;
}

.menu_arriba {
    position: sticky;
    top: 0;
    z-index: 1;
}
.nombre {
    align-items: center;
    background-color: #00669F;
    color: #FFFFFF;
    display: flex;
    margin: 0px;
}
.nombre h1 {
    display: inline-block;
    font-weight: 400;
    margin: 3px;
    padding: 2px;
}
.varios {
    background-color: #001D2D;
    display: flex;
    justify-content: flex-end;
}
.varios a {
    color: #FFFFFF;
    font-size: 16px;
    margin: 6px;
    padding: 6px;
    text-decoration: none;
}



/* MAIN */
.fondo {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    min-height: 100vh;
    gap: 1rem;
}

.tarjeta {
    background-color: #F3F3F3;
    border-radius: 20px 20px 0 0;
    box-shadow: 2px 2px 5px rgb(85, 85, 85);
    margin: 7rem 0rem;
    position: relative;
    width: 300px;
}
.batman {
    border-radius: 300px;
    left: 90px;
    position: absolute;
    top: 130px;
}
.corazon {
    position: absolute;
    top: 20px;
    right: 255px;
}
.letra {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    margin: 20px;
}
.titulo_tarjeta {
    align-self: center;
    font-weight: 400;
    font-size: 30px;
    margin: 10px;
}
input {
    align-self: center;
    background-color: #00669F;
    border: #00669F;
    color: white;
    margin: 20px;
    height: 40px;
    width: 150px;
}
.imagen_mas {
    width: 82px;
    height: 82px;
}


/* FOOTER */
footer {
    background-color: #00669F;
    color: white;
    padding: 1.2rem 0;
    position: relative;
    text-align: center;
}

footer div {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    
}


@media (max-width: 1130px) {
    .fondo {
        flex-wrap: wrap;
    }

    .imagen_mas {
        margin: 0 0 3rem 0;
    }
}

@media (max-width: 768px){
    .fondo {
        flex-direction: column;
    }
    

    .tarjeta {
        margin: 3rem 0;
    }

    .imagen_mas {
        margin: 0 0 3rem 0;
    }
}