* { 
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');


@keyframes background_body {
    0% {
        background-position: top right;
    }
    100% { 
        background-position: bottom left;
    }
}
@keyframes background_bottom {
    0% {
        background-position: top left;
    }
    100% { 
        background-position: top right;
    }
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
}




/* HEADER */
.header {
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 0;
}
.logo_top {
    margin: 1rem 2rem 1rem 8rem;
    padding-top: 0.2rem;
}
.nav_top li{
    display: flex;
    display: inline-block;
    flex-direction: row;
}
.nav_top a {
    color: #242E52;
    text-decoration: none;
    padding: 1rem;
}
.nav_top a:hover {
    color: #B3B2B7;
    cursor: pointer;
}
.button_started {
    background-color:  #F3603B;
    border-color:  #F3603B;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(243, 96, 59, 0.5);
    color: #FFFFFF;
    height: 44px;
    margin: 1rem 8rem 1rem 2rem;
    width: 134px;
}
.button_started:hover {
    background-color: rgb(248, 167, 149);
    border-color: rgb(248, 167, 149);
    cursor: pointer;
}
.menu_phone {
    display: none;
}



/* MAIN */
main {
    animation: background_body 20s infinite alternate;
    background-image: url(../img/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 700px;
}
.container {
    display: flex;
    justify-content: flex-end;
    margin: 5rem 5rem 2rem 7rem;
}
.title {
    align-self: center;
    margin-right: 4rem;
}
.title h1 {
    color: #242E52;
    font-size: 58px;
    font-weight: 700;
}
.title p {
    margin-right: 12rem;
    margin-top: 1rem;
    font-size: 16.5584px;
    font-weight: 500;
}
.title .button_started {
    margin: 2rem 0 0 0;
}

.title1 {
    align-self: flex-start;
    margin-right: 4rem;
}
.title1 h2 {
    color: #232851;
    font-weight: 700;
    font-size: 36px;
}
.caracteristics {
    display: flex;
    margin: 0 2rem 2rem 5rem;
}
.number {
    background-color:  #F3603B;
    border-color:  #F3603B;
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    margin-right: 1rem;
    padding: 0.2rem;
    width: 180px;
}
.paragraphs {
    margin-right: 5rem;
}
.paragraphs h4{
    color: #323851;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1rem;
}
.paragraphs p {
    color: #B3B2B7;
    font-size: 16.2984px;
    font-weight: 500;
    margin-right: 1rem;
}


.review {
    margin: 3rem 2rem 9rem 2rem;
    padding: 2rem 0;
}
.review h2 {
    color: #242E53;
    display: flex;
    justify-content: center;
    font-size: 39.2143px;
    font-weight: 700;
    margin: 4rem;
}
.people {
    display: flex;
}
.people_review1, .people_review2, .people_review3 {
    background-color: #FAFAFA;
    display: flex;
    display: inline-block;
    text-align: center;
    margin-bottom: 3rem;
}
.people_img {
    width: 70px;
    height: 70px;
}
.people_review1 h4, .people_review2 h4, .people_review3 h4 {
    color: #242E53;
    font-size: 16.0714px;
    font-weight: 700;
    margin: 1.5rem;
}
.people_review1 p, .people_review2 p, .people_review3 p {
    color: #B9B9C1;
    font-size: 16px;
    font-weight: 600;
    margin: 1rem;
}
.scroll {
    display: none;
}
.review .button_started2 {
    display: flex;
    justify-content: center;
}
.review .button_started2 .button_started {
    margin: 0;
}


.bottom_main {
    animation: background_bottom 20s infinite alternate;
    background-image: url(../img/bg-tablet-pattern2.svg);
    background-repeat: no-repeat;
    background-color: #F3613C;
    background-position: top left;
    background-size: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
}
.bottom_main h2 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    width: 600px;
}
.button_started3 {
    background-color:  #FFFFFF;
    border-color:  #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    color: #F3603B;
    font-weight: 500;
    margin: 1rem 8rem 1rem 2rem;
    padding: 13px 30px;
}
.button_started3:hover {
    background-color: rgb(251, 238, 228);
    border-color: rgb(251, 238, 228);
    cursor: pointer;
}



/* FOOTER */
.footer {
    background-color: #1E1E26;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}
.logo_icons img {
    margin: 1rem;
}
.icons {
    margin: 2rem 1rem;
}
.icons img {
    margin: 0.2rem;
}
.icons img:hover {
    background-color: #F3603B;
    cursor: pointer;
}

.menu_bottom {
    display: flex;
    flex-direction: row;
}
.nav_bottom1 ul, .nav_bottom2 ul {
    list-style-type: none;
    margin: 0 5rem;
}
.nav_bottom1 li, .nav_bottom2 li {
    padding: 0.4rem;
}
.nav_bottom1 a, .nav_bottom2 a {
    color: #FFFFFF;
    text-decoration: none;
}
.nav_bottom2 a:hover {
    color: #F3603B;
    cursor: pointer;
}
.nav_bottom1  a:hover {
    color: #F3603B;
    cursor: pointer;
}


.form {
    display: flex;
    display: inline-block;
}
#email {
    border-radius: 50px;
    height: 44px;
    margin: 1.5rem 0;
    padding: 10px;
    width: 201px;
}
.go {
    background-color: #F3603B;
    border-color:  #F3603B;
    border-radius: 50px;
    color: #FFFFFF;
    height: 42px;
    margin: 1.5rem 0;
    width: 63px;
}
.go:hover {
    background-color: rgb(247, 183, 168);
    border-color: rgb(247, 183, 168);
    cursor: pointer;
}
.copyright1 {
    color: #8C8C94;
    font-size: 12.5px;
    font-weight: 500;
    margin: 2rem 0;
}
.copyright2 {
    display: none;
}



/* MEDIA */
@media (max-width: 376px) {

    body {
        background-size: 400px;
    }

    .header {
        flex-direction: row;
    }

    .logo_top {
        margin: 1rem;
    }

    .nav_top {
        display: none;
    }

    .nav_top a{
        display: flex;
        display: inline-block;
        flex-direction: row;
        padding: 0.5rem;
    }

    .header button {
        display: none;
    }

    .menu_phone {
        display: block;
        margin: 2rem;
    }

    .overlay{
        background: rgba(251, 232, 223, 0.4);
        height: 100%;
        left: 0;
        opacity: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        transition: opacity .35s, visibility .35s, height .35s;
        visibility: hidden;
        width: 100%;
        z-index: -1;
    }
    
    #hamburger-input{
        display: none;
    }
    
    #hamburger-menu {
        background: linear-gradient(
            to bottom, 
            #242E52, #242E52 20%, 
            white 20%, white 40%, 
            #242E52 40%, #242E52 60%, 
            white 60%, white 80%, 
            #242E52 80%, #242E52 100%
        );
        border: none;
        display: none;
        height: 30px;
        margin: auto;
        padding: 0px;
        position: fixed;
        right: 20px;
        top: 15px;
        width: 30px;
    }
    
    #hamburger-menu #sidebar-menu {
        background-color: #ffe9d8;
        box-sizing: border-box;
        height: 100%;
        left: -250px;
        padding: 0 10px;
        position: fixed;
        transition: 0.3s;
        top: 0;
        visibility: hidden;
        width: 200px;
    }
    
    #hamburger-menu ul {
        padding-left: 0px;
    }
    
    #hamburger-menu li {
        line-height: 3rem;
        list-style-type: none;
        padding-left: 10px;
    }
    
    #hamburger-menu a {
        color: #242E52;
        font-size: 1.3rem;
        font-weight: 500;
        text-decoration: none;
    }
    
    #hamburger-menu a:hover {
        color: #B3B2B7;
        cursor: pointer;
    }
    
    #hamburger-input:checked + #hamburger-menu #sidebar-menu {
        left: 0;
        visibility: visible;
    }
    #hamburger-input:checked ~ .overlay{
        opacity: 0.4;
        visibility: visible;
    }

    #main-menu {
        display: none;
    }

    #hamburger-menu {
        display: inline;
    }

    .container {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        text-align: center;
        padding: 0;
    }

    .title {
        margin: 1rem 0.5rem;
        display: flex;
        display: inline-block;
        justify-content: center;
        order: 1;
    }

    .title h1 {
        font-size: 40px;
    }

    .title p {
        color: #B3B2B7;
        margin: 1rem;
    }

    .image_title img{
        width: 300px;
        height: 270px;
        order: 0;
        margin: 1rem;
    }

    .title1 {
        text-align: center;
        margin: 1.5rem;
        margin-top: 4rem;
    }

    .title1 h2{
        font-size: 26px;
        margin: 1.5rem;
    }

    .title1 p {
        color: #B3B2B7;
        margin: 1rem;
    }

    .caracteristics {
        margin: 1rem 0 1rem 1rem;
    }
    
    .paragraphs {
        margin: 0;
        text-align: left;
    }

    .paragraphs h4 {
        background-color: #fff6f6;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 0.5rem;
    }

    .number {
        height: 30px;
        padding: 0.2rem;
        text-align: center;
        width: 200px;
    }

    .review {
        margin: 2rem;
    }

    .review h2{
        margin: 1rem;
        justify-content: center;
        padding: 0.5rem;
        text-align: center;
        font-size: 25px;
    }

    .people {
        flex-direction: column;
    }

    .people_review1 {
        display: none;
    }

    .people_review2 {
        margin-bottom: 1rem;
    }

    .people_review3 {
        display: none;
    }

    .scroll {
        display: flex;
        justify-content: center;
        margin: 1rem;
        color: #F3603B;
    }

    .button_started2 {
        margin-top: 2rem;
    }

    .bottom_main {
        background-position: left bottom;
        background-size: 500px;
        flex-wrap: wrap;
        padding: 80px 15px;
    }

    .bottom_main h2 {
        display: flex;
        font-size: 35px;
        text-align: center;
        padding: 10px;
    }

    .button_started3 {
        margin: 2rem;
    }

    .footer {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
    }

    .footer {
        text-align: center;
    }

    .menu_bottom {
        order: 2;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        text-align: start;
    }

    .nav_bottom1  ul  {
        margin-left: 2rem; 
        margin-right: 3rem;
    }

    .nav_bottom2 ul {
        margin-right: 1.5rem; 
        margin-left: 3rem;
    }

    .logo_icons {
        margin: 1rem;
        order: 3;
    }

    .icons {
        margin: 0.5rem 0;
    }

    .icons img {
        height: 30px;
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        width: 31px;
    }

    .form_copyright {
        order: 1;
    }

    .copyright1 {
        display: none;
    }

    .copyright2 {
        color: #8C8C94;
        display: flex;
        font-size: 12.5px;
        font-weight: 500;
        margin: auto;
        order: 4;
    }
}


