* { 
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../img/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 700px;
    font-family: 'Be Vietnam Pro', sans-serif;
}




/* HEADER */
.header {
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 0;
}
.logo_top {
    margin: 1rem 2rem 1rem 8rem;
    padding-top: 0.2rem;
}
.nav_top li{
    display: flex;
    display: inline-block;
    flex-direction: row;
}
.nav_top a {
    color: #242E52;
    text-decoration: none;
    padding: 1rem;
}
.nav_top a:hover {
    color: #B3B2B7;
}
.button_started {
    background-color:  #F3603B;
    border-color:  #F3603B;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(243, 96, 59, 0.5);
    color: #FFFFFF;
    height: 44px;
    margin: 1rem 8rem 1rem 2rem;
    width: 134px;
}
.button_started:hover {
    background-color: rgb(248, 167, 149);
    border-color: rgb(248, 167, 149);
}
.menu_phone {
    display: none;
}



/* MAIN */
.container {
    display: flex;
    justify-content: flex-end;
    margin: 5rem 5rem 2rem 7rem;
}
.title {
    align-self: center;
    margin-right: 4rem;
}
.title h1 {
    color: #242E52;
    font-size: 58px;
    font-weight: 700;
}
.title p {
    margin-right: 12rem;
    margin-top: 1rem;
    font-size: 16.5584px;
    font-weight: 500;
}
.title .button_started {
    margin: 2rem 0 0 0;
}

.title1 {
    align-self: flex-start;
    margin-right: 4rem;
}
.title1 h2 {
    color: #232851;
    font-weight: 700;
    font-size: 36px;
}
.caracteristics {
    display: flex;
    margin: 0 2rem 2rem 5rem;
}
.number {
    background-color:  #F3603B;
    border-color:  #F3603B;
    border-radius: 30px;
    color: #FFFFFF;
    height: 30px;
    margin-right: 1rem;
    padding: 0.2rem;
    text-align: center;
    width: 150px;
}
.paragraphs {
    margin-right: 5rem;
}
.paragraphs h4{
    color: #323851;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1rem;
}
.paragraphs p {
    color: #B3B2B7;
    font-size: 16.2984px;
    font-weight: 500;
}


.review {
    margin: 3rem 2rem 9rem 2rem;
    padding: 2rem 0;
}
.review h2 {
    color: #242E53;
    display: flex;
    justify-content: center;
    font-size: 39.2143px;
    font-weight: 700;
    margin: 4rem;
}
.people {
    display: flex;
}
.people_review {
    background-color: #FAFAFA;
    display: flex;
    display: inline-block;
    text-align: center;
    margin-bottom: 3rem;
}
.people_img {
    width: 70px;
    height: 70px;
}
.people_review h4{
    color: #242E53;
    font-size: 16.0714px;
    font-weight: 700;
    margin: 1.5rem;
}
.people_review p {
    color: #B9B9C1;
    font-size: 16px;
    font-weight: 600;
    margin: 1rem;
}
.review .button_started3 {
    display: flex;
    justify-content: center;
}
.review .button_started {
    margin: 0;
} 


.bottom {
    background-image: url(../img/bg-tablet-pattern2.svg);
    background-repeat: no-repeat;
    background-color: #F3613C;
    background-position: top left;
    background-size: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
}
.bottom h2 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    width: 600px;
}
.button_started2 {
    background-color:  #FFFFFF;
    border-color:  #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    color: #F3603B;
    font-weight: 500;
    margin: 1rem 8rem 1rem 2rem;
    padding: 13px 30px;
}
.button_started2:hover {
    background-color: rgb(251, 238, 228);
    border-color: rgb(251, 238, 228);
}



/* FOOTER */
.footer {
    background-color: #1E1E26;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    padding: 2.5rem 0;
}
.logo_icons img {
    margin: 1rem;
}
.icons {
    margin: 2rem 1rem;
}
.icons img {
    margin: 0.2rem;
}
/* no queda bien */
.icons img:hover {
    background-color: #F3603B;
}


.menu_bottom ul {
    list-style-type: none;
}
.menu_bottom li{
    padding: 0.4rem;
}
.menu_bottom a {
    color: #FFFFFF;
    text-decoration: none;
}
.menu_bottom a:hover {
    color: #F3603B;
}
.form {
    display: flex;
    display: inline-block;
}
#email {
    border-radius: 50px;
    height: 44px;
    margin: 1.5rem 0;
    padding: 10px;
    width: 201px;
}
.go {
    background-color: #F3603B;
    border-color:  #F3603B;
    border-radius: 50px;
    color: #FFFFFF;
    height: 42px;
    margin: 1.5rem 0;
    width: 63px;
}
.go:hover {
    background-color: rgb(247, 183, 168);
    border-color: rgb(247, 183, 168);
}
.copyright {
    color: #8C8C94;
    font-size: 12.5px;
    font-weight: 500;
    margin: 2rem 0;
}




/* MEDIA */
@media (max-width: 375px) {

    body {
        background-size: 400px;
    }

    .header {
        flex-direction: row;
    }

    .logo_top {
        margin: 1rem;
    }

    .nav_top {
        display: none;
    }

    .nav_top a{
        display: flex;
        display: inline-block;
        flex-direction: row;
        padding: 0.5rem;
    }

    .header button {
        display: none;
    }

    .menu_phone {
        display: flex;
        margin: 1rem;
        padding: 1rem;
    }

    .container {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        text-align: center;
        padding: 0;
    }

    .title {
        margin: 1rem 0.5rem;
        display: flex;
        display: inline-block;
        justify-content: center;
        order: 1;
    }

    .title h1 {
        font-size: 40px;
    }

    .title p {
        color: #B3B2B7;
        margin: 1rem;
    }

    .image_title img{
        width: 300px;
        height: 270px;
        order: 0;
        margin: 1rem;
    }

    .title1 {
        text-align: center;
        margin: 1.5rem;
        margin-top: 4rem;
    }

    .title1 h2{
        font-size: 26px;
        margin: 1.5rem;
    }

    .title1 p {
        color: #B3B2B7;
        margin: 1rem;
    }

    .middle_divs {
        background-color: #fff6f6;
    }

    .caracteristics {
        margin: 1rem;
    }
    
    .paragraphs {
        margin: 0;
    }

    .number {
        height: 30px;
        padding: 0.2rem;
        text-align: center;
        width: 200px;
    }

    .review h2{
        margin: 1rem;
        justify-content: center;
        padding: 0.5rem;
        text-align: center;
        font-size: 25px;
    }

    .people {
        flex-direction: column;
    }

    .bottom {
        background-position: left bottom;
        background-size: 400px;
        flex-wrap: wrap;
    }

    .bottom h2 {
        display: flex;
        font-size: 35px;
        text-align: center;
    }

    .button_started2 {
        margin: 0.5rem;
    }

    .footer {
        flex-wrap: wrap;
        flex-direction: column;
    }

    /* falta organizar bien el footer */
    .form form {
        order: 1;
    }

    .menu_bottom {
        order: 2;
    }

    .icons {
        order: 3;
    }

    .logo_icons img {
        order: 4;
    }

    .copyright {
        order: 5;
    }

}


