* { 
    box-sizing: border-box; 
}

body {
    font-family: 'Roboto', sans-serif;
}

.descuento {
    background-color: #1CD1B0;
    font-size: 15px;
    margin: 0px;
}

.heroes {
    position: sticky;
    top: 0;
    background-color: #00669F;
    margin: 0px;
    box-shadow: 2px 2px 5px rgb(85, 85, 85);
    z-index: 1;
}

.fondo {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.tarjeta {
    height: 700;
    width: 300px;
    margin: 1.8rem 0rem;
    position: relative;
    background-color: #F3F3F3;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(85, 85, 85)
}

.batman {
    position: absolute;
    left: 90px;
    top: 130px;
    border-radius: 300px;
}

.letra {
    margin: 20px;
    font-weight: 600;
}

.corazon {
    position: absolute;
    top: 20px;
    right: 255px;
}

input {
    background-color: #00669F;
    height: 40px;
    color: white;
}

footer {
    position: relative;
    background-color: #00669F;
    color: white;
    text-align: center;
    padding: 1.2rem 0;
}

footer div {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: translateY(-50%);
}

footer div img {
    width: 8rem;
    margin-right: 1rem;
}

@media (max-width: 1023px) {
    .fondo {
        flex-wrap: wrap;
    }
}

@media (max-width: 768px){
    footer div{
        position: static;
        text-align: center;
        justify-content: center;
        transform: translateY(0);
    }
    footer div img{
        margin: 0;
    }
}