* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




/* HEADER */

.lista_header {   
    background-color: #222222;
    color: white;
    display: flex;
    justify-content: space-between; 
    padding: 15px;
}
.espe {
    background-color: #222222;
    color: white;
    border: none;
}




/* MAIN */
body {
    font-family: 'Roboto', sans-serif;
}


.menu {
    align-items: center;
    background-color: #F0A83E;
    color: #F3F3F3;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.menu_chico {
    color: #FFFFFF;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
}


.titulo {
    align-items: center;
    background-image: url(../img/bowl-and-pet-daities-on-green-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    height: 600px;
}
.titulo_content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
.titulo_content h1 {
    background-color: white;
    border-radius: 5px;
    font-size: 35px;
    font-weight: 400;
    margin: 10px;
    padding: 10px;
}
.titulo_content p {
    font-weight: 400;
    font-size: 22px;
    padding: 7px;
}
.titulo_content button {
    background-color: #F0A83E;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin: 10px;
    padding: 15px;
}


.productos_destacados {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 230px;
}
.varios {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.varios h2 {
    color: #3C2313;
    font-size: 40px;
    font-weight: 700;
    padding: 10px;
}
.productos_destacados img{
    height: 71px;
    left: 700px;
    width: 67px;
}


.destacados {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.todos_productos {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}
.producto {
    color: #3C2313;
    font-size: 20px;
}
.precio {
    display: flex;
    color: #F0A83E;
    font-size: 20px;
    justify-content: center;
}


.form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    margin: 40px;
}
.form legend {
    align-items: center;
    color: #3C2313;
    display: flex;
    font-size: 30px;
    font-weight: 700;
    justify-content: center;
    padding: 10px;
}
.input {
    color: white;
    background-color: #3C2313;
    border: 1px solid #3C2313;
    border-radius: 15px;
    font-weight: 400;
    margin: 8px 0;
    padding: 12px 20px;
    width: 450px;
}
.reset {
    background-color: #8A8787;
    border: 1px solid #8A8787;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin: 5px;
    padding: 12px 20px;
    width: 125px;
}
.enviar {
    background-color: #F0A83E;
    border: 1px solid #F0A83E;
    border-radius: 15px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    margin: 5px;
    padding: 12px 20px;
    width: 125px;
}
.botones {
    display: flex;
    justify-content: center;
    margin: 20px;
}


.subscribirme {
    background-color: #F0A83E;
    color: #F3F3F3;
    display: flex;
    justify-content: space-between;
}
.correo {
    align-items: center;
    display: flex;
    justify-content: center;
}
.correo img {
    display: inline-block;
    margin: 7px;
    padding: 10px;
}
.correo h3 {
    display: inline-block;
    font-size: 23px;
    font-weight: 700;
    margin: 10px;
    padding: 10px;
    top: 16px;
}

.subs {
    align-items: center;
    display: flex;
    justify-content: center;
}
.submit {
    align-self: center;
    background-color: #3C2313;
    border: 1px solid #3C2313;
    border-radius: 15px;
    color: white;
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
    justify-self: center;
    margin: 10px;
    padding: 12px 20px;
    width: 120px;
}
.ingresar {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    display: inline-block;
    color: white;
    font-weight: 400;
    margin: 8px 0;
    padding: 12px 20px;
    width: 400px;
}


.informacion {
    background-color: #3C2313;
    display: flex;
    justify-content: space-between;
}
.informacion_todos{
    color: #F3F3F3;
    display: flex;
    display: inline-block;
    flex-direction: column;
    margin: 20px 30px;
}
.contacto {
    display: flex;
    margin: 7px;
    padding: 5px;
}
.contacto_dentro {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.logo_abajo {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 30px 50px;
}



/* FOOTER */
footer {
    background-color: #222222;
    color: #F3F3F3;
    text-align: center;
}
.footer p {
    font-weight: 700;
    font-size: 10px;
}



/* MEDIA */

@media (max-width: 1420px) {

    .destacados{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 680px) {

    .menu {
        flex-direction: column;
        padding: 10px;
    }

    .menu_chico {
        flex-direction: row;
        padding: 10px;
    }

    .logo_arriba {
        padding: 10px;
    }

    .varios h2{
        font-size: 30px;
    }

    .destacados {
        justify-content: center;
    }

    .input {
        width: 300px;
    }

    .subscribirme {
        flex-direction: column;
    }
    
    .correo h3 {
        font-size: 19px;
    }

    .ingresar {
        width: 220px;
    }

    .submit {
        font-size: 11px;
        width: 100px;
    }

    .informacion {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}





